{% extends "base.html" %}
{% block title %}{{ document.title }}{% endblock %}
{% block content %}
<div class="uk-section">
    <div class="uk-container uk-container-xsmall">
        <h1>{{ document.title }}</h1>
        <h2>{{ document.author }}</h2>
        <h3>{{ document.type | title }}, {{ document.year }}</h3>
        {% if document.abstract is not empty %}
        <p class="uk-text-justify">
            {{ document.abstract }}
            {% else %}
            <i class="uk-text-meta">Kein Abstract eingetragen.</i>
            {% endif %}
        </p>
        <ul class="uk-child-width-expand" uk-tab>
            <li class="uk-active"><a href="#">Herunterladen</a></li>
            <li><a href="#">Quellenangabe</a></li>
            <li><a href="#">Metadaten</a></li>
            <li><a href="#">Bearbeiten</a></li>
        </ul>
        <ul class="uk-switcher">
            <li>
                <ul class="uk-list uk-list-divider">
                    {% if document.path %}
                    <li><span uk-icon="file-pdf"></span> <a href="/data/{{ document.path }}">PDF Ansehen</a></li>
                    {% endif %}
                    {% if document.path_zip %}
                    <li><span uk-icon="folder"></span> <a href="/data/{{ document.path_zip }}" download>Archiv
                            Herunterladen</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
            <li>
                <blockquote uk-tooltip="title: Automatisch generiert und ohne Gewähr; pos: bottom">{{ document.author
                    }}. ({{
                    document.year }}). {{ document.title | title }} (Document No. {{
                    document.id }}) [{{ document.type | title }}, Leibniz Universität Hannover]</blockquote>
            </li>
            <li>
                <pre><code>{{ document|json_encode(constant('JSON_PRETTY_PRINT')) }}</code></pre>
            </li>
            <li>
                <form class="uk-form-horizontal" action="/edit.php" method="post">

                    <div class=" uk-margin">
                        <label class="uk-form-label" for="title">Titel</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="title" type="text" name="title" value="{{ document.title }}">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="author">Autor(en)</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="author" type="text" name="author" value="{{ document.author }}">
                            <small>
                                <p>Für die besten Ergebnisse, bitte nur Initialien und Nachnamen eingeben.</p>
                            </small>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="year">Jahr</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="year" type="number" name="year" value="{{ document.year }}">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-select">Art</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-horizontal-select" name="pubtype">
                                <option value="thesis" {% if document.type=="thesis" %}selected{%endif%}>
                                    Abschlussarbeiten
                                </option>
                                <option value="book" {% if document.type=="book" %}selected{%endif%}>Buch</option>
                                <option value="paper" {% if document.type=="paper" %}selected{%endif%}>Paper</option>
                                <option value="poster" {% if document.type=="poster" %}selected{%endif%}>Poster</option>
                                <option value="proceeding" {% if document.type=="proceeding" %}selected{%endif%}>
                                    Proceeding
                                </option>
                                <option value="talk" {% if document.type=="talk" %}selected{%endif%}>Vortrag</option>
                            </select>
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="abstract">Abstract</label>
                        <div class="uk-form-controls">
                            <textarea class="uk-textarea" id="abstract" rows="5"
                                name="abstract">{{ document.abstract }}</textarea>
                        </div>
                    </div>

                    <input type="hidden" name="id" value="{{ document.id }}">
                    <div class="uk-margin">
                        <div class="uk-form-controls">
                            <input type="submit" value="Speichern" class="uk-button uk-button-primary">
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>
{% endblock %}